bleach==3.1.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
dataclasses==0.7; python_version < '3.7'
dataclasses-json==0.4.1
docutils==0.16
idna==2.9
importlib-metadata==1.5.0
jeepney==0.4.2
keyring==21.1.0
marshmallow==3.5.2
marshmallow-enum==1.5.1
more-itertools==8.2.0
mypy-extensions==0.4.3
pkginfo==1.5.0.1
pycparser==2.19
Pygments==2.5.2
python-magic==0.4.15
readme-renderer==24.0
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
stringcase==1.2.0
tqdm==4.43.0
twine==3.1.1
typing-extensions==3.7.4.1
typing-inspect==0.5.0
urllib3==1.25.8
webencodings==0.5.1
zipp==3.0.0
