bleach==5.0.1
certifi==2022.12.7
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
colorama==0.4.5
commonmark==0.9.1
cryptography==37.0.4
dataclasses-json==0.5.7; python_version < '3.7'
docutils==0.19
idna==3.3
importlib-metadata==4.12.0
jeepney==0.8.0
keyring==23.8.2
marshmallow==3.17.1
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
packaging==21.3
pkginfo==1.8.3
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
python-magic==0.4.27
readme-renderer==37.0
requests==2.28.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
SecretStorage==3.3.3
six==1.16.0
stringcase==1.2.0
tqdm==4.64.0
twine==4.0.1
typing-inspect==0.8.0
typing_extensions==4.3.0
urllib3==1.26.12
webencodings==0.5.1
zipp==3.8.1
